# Data Processing

In [521]:
import pandas as pd
import os
import datetime
import numpy as np

In [522]:
ROS_BAG_ROOT_PATH =     os.path.join(r'/home/psxrg6/Documents/code/data_collection', r'offline/bag_files/rosbag2_2024_11_28-14_14_36/rosbag2_2024_11_28-14_14_36_0.db')
EE_STATES_PATH =        ROS_BAG_ROOT_PATH + '/' + 'ee_states.csv'
JOINT_STATES_PATH =     ROS_BAG_ROOT_PATH + '/' + 'joint_states.csv'
ACTION_STATES_PATH =    ROS_BAG_ROOT_PATH + '/' + 'action_delta.csv'

In [523]:
ee_states_df= pd.read_csv(EE_STATES_PATH)
ee_states_df.head()

,time,position_x,position_y,position_z,orientation_x,orientation_y,orientation_z,orientation_w
0,2024/11/28 14:14:36.40455035,0.000024,-0.02486,1.187385,0.000004,0.000006,-3.370965e-08,1.0
1,2024/11/28 14:14:36.50833590,0.000024,-0.02486,1.187385,0.000004,0.000006,-3.370965e-08,1.0
2,2024/11/28 14:14:36.61492963,0.000024,-0.02486,1.187385,0.000004,0.000006,-3.370965e-08,1.0
3,2024/11/28 14:14:36.70675353,0.000024,-0.02486,1.187385,0.000004,0.000006,-3.370965e-08,1.0
4,2024/11/28 14:14:36.80776874,0.000024,-0.02486,1.187385,0.000004,0.000006,-3.370965e-08,1.0

In [524]:
joint_states_df= pd.read_csv(JOINT_STATES_PATH)
joint_states_df.head()

,time,header_stamp_secs,header_stamp_nsecs,header_frame_id,name_0,name_1,name_2,name_3,name_4,name_5,...,velocity_6,velocity_7,effort_0,effort_1,effort_2,effort_3,effort_4,effort_5,effort_6,effort_7
0,2024/11/28 14:14:36.37780437,262,16000000,NaN,joint_1,joint_4,joint_5,joint_3,joint_6,joint_7,...,-1.414969e-18,-4.662937e-14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1,2024/11/28 14:14:36.37854379,262,17000000,NaN,joint_1,joint_4,joint_5,joint_3,joint_6,joint_7,...,-1.427674e-18,-4.662937e-14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2,2024/11/28 14:14:36.39049257,262,18000000,NaN,joint_1,joint_4,joint_5,joint_3,joint_6,joint_7,...,-1.419204e-18,-4.662937e-14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3,2024/11/28 14:14:36.39603317,262,19000000,NaN,joint_1,joint_4,joint_5,joint_3,joint_6,joint_7,...,-1.426403e-18,-4.662937e-14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4,2024/11/28 14:14:36.40794553,262,20000000,NaN,joint_1,joint_4,joint_5,joint_3,joint_6,joint_7,...,-1.417086e-18,-4.662937e-14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [525]:
action_delta_df= pd.read_csv(ACTION_STATES_PATH)
action_delta_df.head()

,time,position_x,position_y,position_z,orientation_x,orientation_y,orientation_z,orientation_w
0,2024/11/28 14:14:36.40542434,0.0,0.0,0.0,0.0,0.0,-5.293956e-23,0.0
1,2024/11/28 14:14:36.50870272,0.0,0.0,0.0,0.0,0.0,5.293956e-23,0.0
2,2024/11/28 14:14:36.61573196,0.0,0.0,0.0,0.0,0.0,1.058791e-22,0.0
3,2024/11/28 14:14:36.70678014,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0
4,2024/11/28 14:14:36.80792828,0.0,0.0,0.0,0.0,0.0,2.646978e-22,0.0

# Data processing for joint_states

In [526]:
drop_columns = ['header_stamp_secs', 'header_stamp_nsecs', 'header_frame_id', 'velocity_0', 'velocity_1', 'velocity_2', 'velocity_3', 'velocity_4', 'velocity_5', 'velocity_6', 'velocity_7', 'effort_0', 'effort_1', 'effort_2', 'effort_3', 'effort_4', 'effort_5', 'effort_6', 'effort_7']
joint_states_v2_df = joint_states_df.drop(drop_columns, axis=1)

In [527]:
joint_states_v2_df.head(10)

,time,name_0,name_1,name_2,name_3,name_4,name_5,name_6,name_7,position_0,position_1,position_2,position_3,position_4,position_5,position_6,position_7
0,2024/11/28 14:14:36.37780437,joint_1,joint_4,joint_5,joint_3,joint_6,joint_7,joint_2,robotiq_85_left_knuckle_joint,-4.709226e-08,8.470676e-07,-0.000002,5.582851e-07,-0.000019,0.000002,0.00003,0.66588
1,2024/11/28 14:14:36.37854379,joint_1,joint_4,joint_5,joint_3,joint_6,joint_7,joint_2,robotiq_85_left_knuckle_joint,-4.709226e-08,8.470676e-07,-0.000002,5.582851e-07,-0.000019,0.000002,0.00003,0.66588
2,2024/11/28 14:14:36.39049257,joint_1,joint_4,joint_5,joint_3,joint_6,joint_7,joint_2,robotiq_85_left_knuckle_joint,-4.709226e-08,8.470676e-07,-0.000002,5.582851e-07,-0.000019,0.000002,0.00003,0.66588
3,2024/11/28 14:14:36.39603317,joint_1,joint_4,joint_5,joint_3,joint_6,joint_7,joint_2,robotiq_85_left_knuckle_joint,-4.709226e-08,8.470676e-07,-0.000002,5.582851e-07,-0.000019,0.000002,0.00003,0.66588
4,2024/11/28 14:14:36.40794553,joint_1,joint_4,joint_5,joint_3,joint_6,joint_7,joint_2,robotiq_85_left_knuckle_joint,-4.709226e-08,8.470676e-07,-0.000002,5.582851e-07,-0.000019,0.000002,0.00003,0.66588
5,2024/11/28 14:14:36.41947827,joint_1,joint_4,joint_5,joint_3,joint_6,joint_7,joint_2,robotiq_85_left_knuckle_joint,-4.709226e-08,8.470676e-07,-0.000002,5.582851e-07,-0.000019,0.000002,0.00003,0.66588
6,2024/11/28 14:14:36.43104554,joint_1,joint_4,joint_5,joint_3,joint_6,joint_7,joint_2,robotiq_85_left_knuckle_joint,-4.709226e-08,8.470676e-07,-0.000002,5.582851e-07,-0.000019,0.000002,0.00003,0.66588
7,2024/11/28 14:14:36.43782899,joint_1,joint_4,joint_5,joint_3,joint_6,joint_7,joint_2,robotiq_85_left_knuckle_joint,-4.709226e-08,8.470676e-07,-0.000002,5.582851e-07,-0.000019,0.000002,0.00003,0.66588
8,2024/11/28 14:14:36.44965255,joint_1,joint_4,joint_5,joint_3,joint_6,joint_7,joint_2,robotiq_85_left_knuckle_joint,-4.709226e-08,8.470676e-07,-0.000002,5.582851e-07,-0.000019,0.000002,0.00003,0.66588
9,2024/11/28 14:14:36.46148553,joint_1,joint_4,joint_5,joint_3,joint_6,joint_7,joint_2,robotiq_85_left_knuckle_joint,-4.709226e-08,8.470676e-07,-0.000002,5.582851e-07,-0.000019,0.000002,0.00003,0.66588

# Swap disordered columns

In [528]:
# Change the disordered joints
desired_column_order = [
    'time', 
    'name_0', 'name_6', 'name_3', 'name_1', 'name_2', 'name_4', 'name_5', 'name_7',
    'position_0', 'position_6', 'position_3', 'position_1', 'position_2', 'position_4', 'position_5', 'position_7',
]

# Reorder the DataFrame columns
joint_states_v3_df = joint_states_v2_df[desired_column_order]
joint_states_v3_df.head(10)

,time,name_0,name_6,name_3,name_1,name_2,name_4,name_5,name_7,position_0,position_6,position_3,position_1,position_2,position_4,position_5,position_7
0,2024/11/28 14:14:36.37780437,joint_1,joint_2,joint_3,joint_4,joint_5,joint_6,joint_7,robotiq_85_left_knuckle_joint,-4.709226e-08,0.00003,5.582851e-07,8.470676e-07,-0.000002,-0.000019,0.000002,0.66588
1,2024/11/28 14:14:36.37854379,joint_1,joint_2,joint_3,joint_4,joint_5,joint_6,joint_7,robotiq_85_left_knuckle_joint,-4.709226e-08,0.00003,5.582851e-07,8.470676e-07,-0.000002,-0.000019,0.000002,0.66588
2,2024/11/28 14:14:36.39049257,joint_1,joint_2,joint_3,joint_4,joint_5,joint_6,joint_7,robotiq_85_left_knuckle_joint,-4.709226e-08,0.00003,5.582851e-07,8.470676e-07,-0.000002,-0.000019,0.000002,0.66588
3,2024/11/28 14:14:36.39603317,joint_1,joint_2,joint_3,joint_4,joint_5,joint_6,joint_7,robotiq_85_left_knuckle_joint,-4.709226e-08,0.00003,5.582851e-07,8.470676e-07,-0.000002,-0.000019,0.000002,0.66588
4,2024/11/28 14:14:36.40794553,joint_1,joint_2,joint_3,joint_4,joint_5,joint_6,joint_7,robotiq_85_left_knuckle_joint,-4.709226e-08,0.00003,5.582851e-07,8.470676e-07,-0.000002,-0.000019,0.000002,0.66588
5,2024/11/28 14:14:36.41947827,joint_1,joint_2,joint_3,joint_4,joint_5,joint_6,joint_7,robotiq_85_left_knuckle_joint,-4.709226e-08,0.00003,5.582851e-07,8.470676e-07,-0.000002,-0.000019,0.000002,0.66588
6,2024/11/28 14:14:36.43104554,joint_1,joint_2,joint_3,joint_4,joint_5,joint_6,joint_7,robotiq_85_left_knuckle_joint,-4.709226e-08,0.00003,5.582851e-07,8.470676e-07,-0.000002,-0.000019,0.000002,0.66588
7,2024/11/28 14:14:36.43782899,joint_1,joint_2,joint_3,joint_4,joint_5,joint_6,joint_7,robotiq_85_left_knuckle_joint,-4.709226e-08,0.00003,5.582851e-07,8.470676e-07,-0.000002,-0.000019,0.000002,0.66588
8,2024/11/28 14:14:36.44965255,joint_1,joint_2,joint_3,joint_4,joint_5,joint_6,joint_7,robotiq_85_left_knuckle_joint,-4.709226e-08,0.00003,5.582851e-07,8.470676e-07,-0.000002,-0.000019,0.000002,0.66588
9,2024/11/28 14:14:36.46148553,joint_1,joint_2,joint_3,joint_4,joint_5,joint_6,joint_7,robotiq_85_left_knuckle_joint,-4.709226e-08,0.00003,5.582851e-07,8.470676e-07,-0.000002,-0.000019,0.000002,0.66588

# Adapt joint_states frequency to ee_states one

In [529]:
ee_states_df.head(10)

,time,position_x,position_y,position_z,orientation_x,orientation_y,orientation_z,orientation_w
0,2024/11/28 14:14:36.40455035,0.000024,-0.02486,1.187385,0.000004,0.000006,-3.370965e-08,1.0
1,2024/11/28 14:14:36.50833590,0.000024,-0.02486,1.187385,0.000004,0.000006,-3.370965e-08,1.0
2,2024/11/28 14:14:36.61492963,0.000024,-0.02486,1.187385,0.000004,0.000006,-3.370965e-08,1.0
3,2024/11/28 14:14:36.70675353,0.000024,-0.02486,1.187385,0.000004,0.000006,-3.370965e-08,1.0
4,2024/11/28 14:14:36.80776874,0.000024,-0.02486,1.187385,0.000004,0.000006,-3.370965e-08,1.0
5,2024/11/28 14:14:36.90510387,0.000024,-0.02486,1.187385,0.000004,0.000006,-3.370965e-08,1.0
6,2024/11/28 14:14:36.103420767,0.000024,-0.02486,1.187385,0.000004,0.000006,-3.370965e-08,1.0
7,2024/11/28 14:14:36.110625925,0.000024,-0.02486,1.187385,0.000004,0.000006,-3.370965e-08,1.0
8,2024/11/28 14:14:36.121316396,0.000024,-0.02486,1.187385,0.000004,0.000006,-3.370965e-08,1.0
9,2024/11/28 14:14:36.131344137,0.000024,-0.02486,1.187385,0.000004,0.000006,-3.370965e-08,1.0

In [530]:
ee_states_df.shape

(1155, 8)

In [531]:
joint_states_v3_df.shape

(11312, 17)

## Filter out joint states to align with the number of end-effector states

In [532]:
# joint states are ~10x more than end-effector states
# take one joint state for each end-effector state
# remove the joint states or EEF states that have no pair
KEEP_EVERY_NTH = 10

joint_states_filtered = joint_states_v3_df.iloc[::KEEP_EVERY_NTH, :]
print(f'EEF states shape: \t\t{ee_states_df.shape}')
print(f'filtered joint states shape: \t{joint_states_filtered.shape}')

EEF states shape: 		(1155, 8)
filtered joint states shape: 	(1132, 17)

## Cut down redundant rows

In [533]:
ee_rows = ee_states_df.shape[0]
joint_rows = joint_states_filtered.shape[0]

ee_states_aligned_df = ee_states_df
joint_states_aligned_df = joint_states_filtered

if ee_rows > joint_rows:
    ee_states_aligned_df = ee_states_df[:joint_rows]
elif ee_rows < joint_rows:
    joint_states_aligned_df = joint_states_filtered[:ee_rows]

# sanity check if the row numbers not equal 
assert joint_states_aligned_df.shape[0] == ee_states_aligned_df.shape[0]

In [534]:
ee_states_aligned_df.head()

,time,position_x,position_y,position_z,orientation_x,orientation_y,orientation_z,orientation_w
0,2024/11/28 14:14:36.40455035,0.000024,-0.02486,1.187385,0.000004,0.000006,-3.370965e-08,1.0
1,2024/11/28 14:14:36.50833590,0.000024,-0.02486,1.187385,0.000004,0.000006,-3.370965e-08,1.0
2,2024/11/28 14:14:36.61492963,0.000024,-0.02486,1.187385,0.000004,0.000006,-3.370965e-08,1.0
3,2024/11/28 14:14:36.70675353,0.000024,-0.02486,1.187385,0.000004,0.000006,-3.370965e-08,1.0
4,2024/11/28 14:14:36.80776874,0.000024,-0.02486,1.187385,0.000004,0.000006,-3.370965e-08,1.0

In [535]:
joint_states_aligned_df.head()

,time,name_0,name_6,name_3,name_1,name_2,name_4,name_5,name_7,position_0,position_6,position_3,position_1,position_2,position_4,position_5,position_7
0,2024/11/28 14:14:36.37780437,joint_1,joint_2,joint_3,joint_4,joint_5,joint_6,joint_7,robotiq_85_left_knuckle_joint,-4.709226e-08,0.00003,5.582851e-07,8.470676e-07,-0.000002,-0.000019,0.000002,0.66588
10,2024/11/28 14:14:36.46719014,joint_1,joint_2,joint_3,joint_4,joint_5,joint_6,joint_7,robotiq_85_left_knuckle_joint,-4.709226e-08,0.00003,5.582851e-07,8.470676e-07,-0.000002,-0.000019,0.000002,0.66588
20,2024/11/28 14:14:36.57196235,joint_1,joint_2,joint_3,joint_4,joint_5,joint_6,joint_7,robotiq_85_left_knuckle_joint,-4.709226e-08,0.00003,5.582851e-07,8.470676e-07,-0.000002,-0.000019,0.000002,0.66588
30,2024/11/28 14:14:36.67322590,joint_1,joint_2,joint_3,joint_4,joint_5,joint_6,joint_7,robotiq_85_left_knuckle_joint,-4.709226e-08,0.00003,5.582851e-07,8.470676e-07,-0.000002,-0.000019,0.000002,0.66588
40,2024/11/28 14:14:36.77267314,joint_1,joint_2,joint_3,joint_4,joint_5,joint_6,joint_7,robotiq_85_left_knuckle_joint,-4.709226e-08,0.00003,5.582851e-07,8.470676e-07,-0.000002,-0.000019,0.000002,0.66588

In [536]:
print(f'EEF aligned shape: \t{ee_states_aligned_df.shape}')
print(f'Joints aligned shape: \t{joint_states_aligned_df.shape}')

EEF aligned shape: 	(1132, 8)
Joints aligned shape: 	(1132, 17)

## Sanity check: Calculate mean time discrepancy between joint and EEF states

In [537]:

def to_unix_timestamp(datetime_string):
    datetime_string = datetime_string[:-3]  # remove last 2 microseconds, datetime supports only 6
    return datetime.datetime.strptime(datetime_string, "%Y/%m/%d %H:%M:%S.%f").timestamp()

ee_times = ee_states_aligned_df['time'].apply(to_unix_timestamp).to_list()
ee_times = np.asarray(ee_times)

joint_times = joint_states_aligned_df['time'].apply(to_unix_timestamp).to_list()
joint_times = np.asarray(joint_times)

mean_time_s = abs(ee_times - joint_times).mean()
print(f'Mean time misalignment between joints and EEF states is: {mean_time_s:.3f} seconds')

# make sure the time difference is not too big...
assert mean_time_s < 1

Mean time misalignment between joints and EEF states is: 0.176 seconds

# Preprocess for combining dfs

In [538]:
# remove unnecesarry columns
drop_columns_2 = ['name_0', 'name_6', 'name_3', 'name_1', 'name_2','name_4', 'name_5', 'name_7']
joint_states_aligned_df = joint_states_aligned_df.drop(drop_columns_2, axis=1) # inplace=True parameter modifies the DataFrame in place and returns None

In [539]:
# remove time
drop_columns_3 = ['time']
joint_states_aligned_df = joint_states_aligned_df.drop(drop_columns_3, axis=1) # inplace=True parameter modifies the DataFrame in place and returns None

joint_states_aligned_df.head()

,position_0,position_6,position_3,position_1,position_2,position_4,position_5,position_7
0,-4.709226e-08,0.00003,5.582851e-07,8.470676e-07,-0.000002,-0.000019,0.000002,0.66588
10,-4.709226e-08,0.00003,5.582851e-07,8.470676e-07,-0.000002,-0.000019,0.000002,0.66588
20,-4.709226e-08,0.00003,5.582851e-07,8.470676e-07,-0.000002,-0.000019,0.000002,0.66588
30,-4.709226e-08,0.00003,5.582851e-07,8.470676e-07,-0.000002,-0.000019,0.000002,0.66588
40,-4.709226e-08,0.00003,5.582851e-07,8.470676e-07,-0.000002,-0.000019,0.000002,0.66588

In [540]:
ee_states_aligned_df.head()

,time,position_x,position_y,position_z,orientation_x,orientation_y,orientation_z,orientation_w
0,2024/11/28 14:14:36.40455035,0.000024,-0.02486,1.187385,0.000004,0.000006,-3.370965e-08,1.0
1,2024/11/28 14:14:36.50833590,0.000024,-0.02486,1.187385,0.000004,0.000006,-3.370965e-08,1.0
2,2024/11/28 14:14:36.61492963,0.000024,-0.02486,1.187385,0.000004,0.000006,-3.370965e-08,1.0
3,2024/11/28 14:14:36.70675353,0.000024,-0.02486,1.187385,0.000004,0.000006,-3.370965e-08,1.0
4,2024/11/28 14:14:36.80776874,0.000024,-0.02486,1.187385,0.000004,0.000006,-3.370965e-08,1.0

In [541]:
# Make sure the number of rows is aligned with ot+her df
assert joint_states_aligned_df.shape[0] == ee_states_aligned_df.shape[0]

# Combine dfs

In [542]:
# Combine the two DataFrames side by side
# keep the time from EEF States, remove it from Joint States
combined_df = pd.concat([ee_states_aligned_df.reset_index(drop=True), joint_states_aligned_df.reset_index(drop=True)], axis=1)
combined_df.head()

,time,position_x,position_y,position_z,orientation_x,orientation_y,orientation_z,orientation_w,position_0,position_6,position_3,position_1,position_2,position_4,position_5,position_7
0,2024/11/28 14:14:36.40455035,0.000024,-0.02486,1.187385,0.000004,0.000006,-3.370965e-08,1.0,-4.709226e-08,0.00003,5.582851e-07,8.470676e-07,-0.000002,-0.000019,0.000002,0.66588
1,2024/11/28 14:14:36.50833590,0.000024,-0.02486,1.187385,0.000004,0.000006,-3.370965e-08,1.0,-4.709226e-08,0.00003,5.582851e-07,8.470676e-07,-0.000002,-0.000019,0.000002,0.66588
2,2024/11/28 14:14:36.61492963,0.000024,-0.02486,1.187385,0.000004,0.000006,-3.370965e-08,1.0,-4.709226e-08,0.00003,5.582851e-07,8.470676e-07,-0.000002,-0.000019,0.000002,0.66588
3,2024/11/28 14:14:36.70675353,0.000024,-0.02486,1.187385,0.000004,0.000006,-3.370965e-08,1.0,-4.709226e-08,0.00003,5.582851e-07,8.470676e-07,-0.000002,-0.000019,0.000002,0.66588
4,2024/11/28 14:14:36.80776874,0.000024,-0.02486,1.187385,0.000004,0.000006,-3.370965e-08,1.0,-4.709226e-08,0.00003,5.582851e-07,8.470676e-07,-0.000002,-0.000019,0.000002,0.66588

# Create Action column from EEF states (delta movement, rotation)

In [543]:
action_df = combined_df[['position_x', 'position_y', 'position_z', 'orientation_x', 'orientation_y', 'orientation_z']]
action_df = action_df.rename(columns={'position_x': 'delta_position_x', 
                          'position_y': 'delta_position_y', 
                          'position_z': 'delta_position_z', 
                          'orientation_x': 'delta_orientation_x', 
                          'orientation_y': 'delta_orientation_y', 
                          'orientation_z': 'delta_orientation_z'})

action_df = action_df[1:].reset_index(drop=True).copy() - action_df[:-1].reset_index(drop=True).copy()

assert action_df.shape[0] == combined_df.shape[0] - 1

print('Actions shape:', action_df.shape)

action_df.head()  # orientation_z is almost 0...

Actions shape: (1131, 6)

,delta_position_x,delta_position_y,delta_position_z,delta_orientation_x,delta_orientation_y,delta_orientation_z
0,0.0,0.0,0.0,0.0,0.0,4.632211e-23
1,0.0,0.0,0.0,0.0,0.0,1.124966e-22
2,0.0,0.0,0.0,0.0,0.0,0.000000e+00
3,0.0,0.0,0.0,0.0,0.0,2.580804e-22
4,0.0,0.0,0.0,0.0,0.0,-9.926167e-23

In [544]:
combined_df = combined_df[:-1]  # remove the last entry to align with the actions
old_combined_df_shape = combined_df.shape  # just for a sanity test later after concatenation
combined_df = pd.concat([combined_df.reset_index(drop=True), action_df.reset_index(drop=True)], axis=1)

assert combined_df.shape[1] == action_df.shape[1] + old_combined_df_shape[1]  # make sure the actions were added

combined_df.head()

,time,position_x,position_y,position_z,orientation_x,orientation_y,orientation_z,orientation_w,position_0,position_6,...,position_2,position_4,position_5,position_7,delta_position_x,delta_position_y,delta_position_z,delta_orientation_x,delta_orientation_y,delta_orientation_z
0,2024/11/28 14:14:36.40455035,0.000024,-0.02486,1.187385,0.000004,0.000006,-3.370965e-08,1.0,-4.709226e-08,0.00003,...,-0.000002,-0.000019,0.000002,0.66588,0.0,0.0,0.0,0.0,0.0,4.632211e-23
1,2024/11/28 14:14:36.50833590,0.000024,-0.02486,1.187385,0.000004,0.000006,-3.370965e-08,1.0,-4.709226e-08,0.00003,...,-0.000002,-0.000019,0.000002,0.66588,0.0,0.0,0.0,0.0,0.0,1.124966e-22
2,2024/11/28 14:14:36.61492963,0.000024,-0.02486,1.187385,0.000004,0.000006,-3.370965e-08,1.0,-4.709226e-08,0.00003,...,-0.000002,-0.000019,0.000002,0.66588,0.0,0.0,0.0,0.0,0.0,0.000000e+00
3,2024/11/28 14:14:36.70675353,0.000024,-0.02486,1.187385,0.000004,0.000006,-3.370965e-08,1.0,-4.709226e-08,0.00003,...,-0.000002,-0.000019,0.000002,0.66588,0.0,0.0,0.0,0.0,0.0,2.580804e-22
4,2024/11/28 14:14:36.80776874,0.000024,-0.02486,1.187385,0.000004,0.000006,-3.370965e-08,1.0,-4.709226e-08,0.00003,...,-0.000002,-0.000019,0.000002,0.66588,0.0,0.0,0.0,0.0,0.0,-9.926167e-23

## Sanity Checks

In [545]:
assert combined_df.shape[1] == 7 + 8 + 6 + 1  # 7 EEF State, 8 Joint States, 6 Actions, 1 Time
assert ee_states_aligned_df.shape[0] - 1 == combined_df.shape[0]  # the final DF must have one missing entry because of Action calculation

# Export updated DataFrame to a CSV file.

In [546]:
import os

file_name = "combined_df.csv"

# Ensure the directory exists
assert os.path.isdir(ROS_BAG_ROOT_PATH)

# Save the DataFrame as a CSV file
file_path = os.path.join(ROS_BAG_ROOT_PATH, file_name)
combined_df.to_csv(file_path, index=False)  # Use index=False to exclude the index column

print(f"File saved successfully at: {file_path}")

File saved successfully at: /home/psxrg6/Documents/code/data_collection/offline/bag_files/rosbag2_2024_11_28-14_14_36/rosbag2_2024_11_28-14_14_36_0.db/combined_df.csv

# Convert CSV file to tfrecords

In [138]:
#!pip install tensorflow

Collecting tensorflow
  Downloading tensorflow-2.18.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (4.1 kB)
Requirement already satisfied: absl-py>=1.0.0 in /home/koyo/.config/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from tensorflow) (2.1.0)
Collecting astunparse>=1.6.0 (from tensorflow)
  Downloading astunparse-1.6.3-py2.py3-none-any.whl.metadata (4.4 kB)
Collecting flatbuffers>=24.3.25 (from tensorflow)
  Downloading flatbuffers-24.3.25-py2.py3-none-any.whl.metadata (850 bytes)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in /home/koyo/.config/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from tensorflow) (0.6.0)
Collecting google-pasta>=0.1.1 (from tensorflow)
  Downloading google_pasta-0.2.0-py3-none-any.whl.metadata (814 bytes)
Collecting libclang>=13.0.0 (from tensorflow)
  Downloading libclang-18.1.1-py2.py3-none-manylinux2010_x86_64.whl.metadata (5.2 kB)
Collecting opt-einsum>=2.3.2 (from tensorflow)
  Downloading opt_einsum-3.4.0-py3-none-any.whl.metadata (6.3 kB)
Requirement already satisfied: packaging in /home/koyo/.config/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from tensorflow) (24.0)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<6.0.0dev,>=3.20.3 in /home/koyo/.config/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from tensorflow) (4.25.4)
Requirement already satisfied: requests<3,>=2.21.0 in /home/koyo/.config/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from tensorflow) (2.31.0)
Requirement already satisfied: setuptools in /home/koyo/.config/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from tensorflow) (70.0.0)
Requirement already satisfied: six>=1.12.0 in /home/koyo/.config/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from tensorflow) (1.16.0)
Requirement already satisfied: termcolor>=1.1.0 in /home/koyo/.config/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from tensorflow) (2.5.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /home/koyo/.config/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from tensorflow) (4.12.2)
Requirement already satisfied: wrapt>=1.11.0 in /home/koyo/.config/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from tensorflow) (1.16.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /home/koyo/.config/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from tensorflow) (1.65.5)
Collecting tensorboard<2.19,>=2.18 (from tensorflow)
  Downloading tensorboard-2.18.0-py3-none-any.whl.metadata (1.6 kB)
Collecting keras>=3.5.0 (from tensorflow)
  Downloading keras-3.6.0-py3-none-any.whl.metadata (5.8 kB)
Requirement already satisfied: numpy<2.1.0,>=1.26.0 in /home/koyo/.config/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from tensorflow) (1.26.4)
Collecting h5py>=3.11.0 (from tensorflow)
  Downloading h5py-3.12.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (2.5 kB)
Collecting ml-dtypes<0.5.0,>=0.4.0 (from tensorflow)
  Downloading ml_dtypes-0.4.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (20 kB)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /home/koyo/.config/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from astunparse>=1.6.0->tensorflow) (0.43.0)
Collecting rich (from keras>=3.5.0->tensorflow)
  Downloading rich-13.9.4-py3-none-any.whl.metadata (18 kB)
Collecting namex (from keras>=3.5.0->tensorflow)
  Downloading namex-0.0.8-py3-none-any.whl.metadata (246 bytes)
Collecting optree (from keras>=3.5.0->tensorflow)
  Downloading optree-0.13.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (47 kB)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/koyo/.config/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from requests<3,>=2.21.0->tensorflow) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /home/koyo/.config/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from requests<3,>=2.21.0->tensorflow) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/koyo/.config/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from requests<3,>=2.21.0->tensorflow) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in /home/koyo/.config/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from requests<3,>=2.21.0->tensorflow) (2024.2.2)
Collecting markdown>=2.6.8 (from tensorboard<2.19,>=2.18->tensorflow)
  Downloading Markdown-3.7-py3-none-any.whl.metadata (7.0 kB)
Collecting tensorboard-data-server<0.8.0,>=0.7.0 (from tensorboard<2.19,>=2.18->tensorflow)
  Downloading tensorboard_data_server-0.7.2-py3-none-manylinux_2_31_x86_64.whl.metadata (1.1 kB)
Collecting werkzeug>=1.0.1 (from tensorboard<2.19,>=2.18->tensorflow)
  Downloading werkzeug-3.1.3-py3-none-any.whl.metadata (3.7 kB)
Requirement already satisfied: MarkupSafe>=2.1.1 in /home/koyo/.config/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from werkzeug>=1.0.1->tensorboard<2.19,>=2.18->tensorflow) (2.1.5)
Collecting markdown-it-py>=2.2.0 (from rich->keras>=3.5.0->tensorflow)
  Downloading markdown_it_py-3.0.0-py3-none-any.whl.metadata (6.9 kB)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /home/koyo/.config/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from rich->keras>=3.5.0->tensorflow) (2.18.0)
Collecting mdurl~=0.1 (from markdown-it-py>=2.2.0->rich->keras>=3.5.0->tensorflow)
  Downloading mdurl-0.1.2-py3-none-any.whl.metadata (1.6 kB)
Downloading tensorflow-2.18.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (615.5 MB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 615.5/615.5 MB 7.2 MB/s eta 0:00:0000:0100:03m
Downloading astunparse-1.6.3-py2.py3-none-any.whl (12 kB)
Downloading flatbuffers-24.3.25-py2.py3-none-any.whl (26 kB)
Downloading google_pasta-0.2.0-py3-none-any.whl (57 kB)
Downloading h5py-3.12.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (5.4 MB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 5.4/5.4 MB 8.8 MB/s eta 0:00:00a 0:00:01
Downloading keras-3.6.0-py3-none-any.whl (1.2 MB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1.2/1.2 MB 9.4 MB/s eta 0:00:00
Downloading libclang-18.1.1-py2.py3-none-manylinux2010_x86_64.whl (24.5 MB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 24.5/24.5 MB 7.4 MB/s eta 0:00:0000:0100:01
Downloading ml_dtypes-0.4.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.2 MB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2.2/2.2 MB 7.4 MB/s eta 0:00:00a 0:00:01
Downloading opt_einsum-3.4.0-py3-none-any.whl (71 kB)
Downloading tensorboard-2.18.0-py3-none-any.whl (5.5 MB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 5.5/5.5 MB 7.2 MB/s eta 0:00:00a 0:00:01
Downloading Markdown-3.7-py3-none-any.whl (106 kB)
Downloading tensorboard_data_server-0.7.2-py3-none-manylinux_2_31_x86_64.whl (6.6 MB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 6.6/6.6 MB 7.5 MB/s eta 0:00:00a 0:00:01
Downloading werkzeug-3.1.3-py3-none-any.whl (224 kB)
Downloading namex-0.0.8-py3-none-any.whl (5.8 kB)
Downloading optree-0.13.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (385 kB)
Downloading rich-13.9.4-py3-none-any.whl (242 kB)
Downloading markdown_it_py-3.0.0-py3-none-any.whl (87 kB)
Downloading mdurl-0.1.2-py3-none-any.whl (10.0 kB)
Installing collected packages: namex, libclang, flatbuffers, werkzeug, tensorboard-data-server, optree, opt-einsum, ml-dtypes, mdurl, markdown, h5py, google-pasta, astunparse, tensorboard, markdown-it-py, rich, keras, tensorflow
Successfully installed astunparse-1.6.3 flatbuffers-24.3.25 google-pasta-0.2.0 h5py-3.12.1 keras-3.6.0 libclang-18.1.1 markdown-3.7 markdown-it-py-3.0.0 mdurl-0.1.2 ml-dtypes-0.4.1 namex-0.0.8 opt-einsum-3.4.0 optree-0.13.1 rich-13.9.4 tensorboard-2.18.0 tensorboard-data-server-0.7.2 tensorflow-2.18.0 werkzeug-3.1.3

In [140]:
import tensorflow as tf
import csv
import os

print(tf.__version__)

2.18.0

In [141]:
# Define header and feature details
HEADER = ['time', 'ee_state', 'joint_state']
HEADER_DEFAULTS = [['NA'], ['NA'], ['NA']]

NUMERIC_FEATURE_NAMES = ['ee_state', 'joint_state']
CATEGORICAL_FEATURE_NAMES = []
FEATURE_NAMES = NUMERIC_FEATURE_NAMES + CATEGORICAL_FEATURE_NAMES
TARGET_NAME = None  # If there's a target column, specify its name here
UNUSED_FEATURE_NAMES = list(set(HEADER) - set(FEATURE_NAMES) - {TARGET_NAME})

print("Header: {}".format(HEADER))
print("Numeric Features: {}".format(NUMERIC_FEATURE_NAMES))
print("Categorical Features: {}".format(CATEGORICAL_FEATURE_NAMES))
print("Unused Features: {}".format(UNUSED_FEATURE_NAMES))

Header: ['time', 'ee_state', 'joint_state']
Numeric Features: ['ee_state', 'joint_state']
Categorical Features: []
Unused Features: ['time']

In [142]:
# Function to iterate through CSV rows
def create_csv_iterator(csv_file_path, skip_header):
    with open(csv_file_path, 'r') as csv_file:
        reader = csv.reader(csv_file)
        if skip_header:  # Skip the header
            next(reader)
        for row in reader:
            yield row

In [143]:
# Function to create a tf.train.Example
def create_example(row):
    example = tf.train.Example()

    for i, feature_name in enumerate(HEADER):
        feature_value = row[i]

        if feature_name in UNUSED_FEATURE_NAMES:
            continue

        if feature_name in NUMERIC_FEATURE_NAMES:
            example.features.feature[feature_name].float_list.value.append(float(feature_value))

        elif feature_name in CATEGORICAL_FEATURE_NAMES:
            example.features.feature[feature_name].bytes_list.value.append(feature_value.encode('utf-8'))

    return example

In [144]:
# Function to create TFRecords file
def create_tfrecords_file(input_csv_file):
    output_tfrecord_file = input_csv_file.replace(".csv", ".tfrecords")
    print("Creating TFRecords file at", output_tfrecord_file, "...")

    with tf.io.TFRecordWriter(output_tfrecord_file) as writer:
        for i, row in enumerate(create_csv_iterator(input_csv_file, skip_header=True)):
            if len(row) == 0:
                continue

            example = create_example(row)
            writer.write(example.SerializeToString())

    print("Finished writing", output_tfrecord_file)

In [146]:
# Specify your CSV file
csv_file_path = "/home/koyo/data_collection/offline/bag_files/rosbag2_2024_11_25-19_13_17/rosbag2_2024_11_25-19_13_17_0.db/combined_df.csv"
data_files = [csv_file_path]

# Convert the CSV file
for input_csv_file in data_files:
    create_tfrecords_file(input_csv_file)

Creating TFRecords file at /home/koyo/data_collection/offline/bag_files/rosbag2_2024_11_25-19_13_17/rosbag2_2024_11_25-19_13_17_0.db/combined_df.tfrecords ...
Finished writing /home/koyo/data_collection/offline/bag_files/rosbag2_2024_11_25-19_13_17/rosbag2_2024_11_25-19_13_17_0.db/combined_df.tfrecords